<br>

<div>
    <p class="lead text-center">
        This app demonstrates a data management.
        <br>
        You can add, edit, search.
        <br>
        The data comes from a backend API.
        <br>
        to solve the localhost block of cross origin, I am using this <a href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc/related?hl=en-US">extension</a>.
        <br>
        All components, pipes and services were created by Angular CLI.
        <br>
        For the search, I used a pipe on top of the ngFor of the data list.
        <br>
        
        <img src="https://images.cdn1.stockunlimited.net/preview1300/welcome-home-label_1827351.jpg" width="30%">
    </p>    
</div>