<br>
<p class="lead text-center">
    Our Computers:
</p>

<div *ngFor="let computer of computers | filter:computerToSearch " class="container w-25">
    <div class="card shadow p-3 mb-3 bg-white rounded">
        <img src="{{ computer.image }}" class="card-img-top" alt="{{ computer.name | titlecase }}">
        <div class="card-body">
          <h5 class="card-title">{{ computer.name | titlecase }}</h5>
          <p class="card-text">{{ computer.description | titlecase }}</p>
          <a href="edit/{{ computer.id }}" class="btn btn-primary">Full Info</a>
          &nbsp;
          Price: {{ computer.price }} NIS
        </div>
      </div>
</div>

